<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Obat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Tambah Obat</h2>
        <form action="/add-obat" method="post">
            <div class="form-group">
                <label for="namaObat">Nama Obat</label>
                <input type="text" class="form-control" name="namaObat" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" name="price" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Tambah</button>
            <a href="/home" class="btn btn-link">Kembali ke Daftar</a>
        </form>
    </div>
</body>
</html>
